div .col-md-12 {
    margin: 10px;
    border-bottom-style: groove;
    border-bottom-width: 2px;
    border-bottom-color: greenyellow;
}




/*
        .row-m-t{
        margin : 10px;
        border-bottom-style : solid;
        border-bottom-width : 2px;
        border-bottom-color : black;
        
    }

    */
div #image{
    max-height : 250px;
    max-width :250px;
    min-height : 200px;
    min-width : 200px;
    height :auto;
    width:auto;
}
div #image:hover {
    animation: myAnimation;
    animation-duration: 5s;
}

@keyframes myAnimation {
    from {
        border-radius: 0 0 0 0;
    }

    to {
        border-radius: 100% 100% 100% 100%;
    }
}
